# Transactions in MySQL

#### 1. **Introduction to Transactions**

A **transaction** in MySQL is a sequence of operations performed as a single logical unit of work. Transactions ensure data integrity and consistency, especially in cases of system failures or concurrent operations. They are fundamental in scenarios involving banking systems, online shopping, or any multi-step operation where partial updates can lead to data inconsistency.

---

#### 2. **Properties of Transactions (ACID)**

- **Atomicity**: Ensures that all operations within a transaction are completed; otherwise, none of them are applied.
- **Consistency**: Ensures that the database transitions from one valid state to another.
- **Isolation**: Ensures that the execution of transactions concurrently does not affect their outcome.
- **Durability**: Ensures that once a transaction is committed, it remains so even in the event of a system crash.

---

#### 3. **MySQL Syntax for Transactions**

- **Start a Transaction**:
  ```sql
  START TRANSACTION;
  ```
- **Commit a Transaction**:
  ```sql
  COMMIT;
  ```
- **Rollback a Transaction**:
  ```sql
  ROLLBACK;
  ```
- **Set Auto-Commit Mode**:
  ```sql
  SET AUTOCOMMIT = 0; -- Disable auto-commit
  SET AUTOCOMMIT = 1; -- Enable auto-commit
  ```

---

#### 4. **Sample Database**

We will create a simple banking system with two tables: `accounts` and `transactions`.

```sql
CREATE DATABASE BankDB;
USE BankDB;

-- Create accounts table
CREATE TABLE accounts (
    account_id INT AUTO_INCREMENT PRIMARY KEY,
    account_holder VARCHAR(100),
    balance DECIMAL(10, 2)
);

-- Create transactions table
CREATE TABLE transactions (
    transaction_id INT AUTO_INCREMENT PRIMARY KEY,
    account_id INT,
    transaction_type ENUM('debit', 'credit'),
    amount DECIMAL(10, 2),
    transaction_date TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY (account_id) REFERENCES accounts(account_id)
);
```

---

#### 5. **Insert Sample Data**

```sql
-- Insert data into accounts
INSERT INTO accounts (account_holder, balance)
VALUES 
('Alice', 5000.00),
('Bob', 3000.00),
('Charlie', 7000.00),
('David', 10000.00),
('Eve', 1200.00),
('Frank', 600.00),
('Grace', 800.00),
('Hannah', 950.00),
('Ian', 400.00),
('Jack', 8000.00),
('Karen', 5500.00),
('Leo', 2000.00),
('Mona', 4800.00),
('Nina', 300.00),
('Oscar', 1000.00),
('Paul', 2300.00),
('Quinn', 1500.00),
('Rita', 2900.00),
('Steve', 8700.00),
('Trudy', 1300.00);

-- Insert data into transactions
INSERT INTO transactions (account_id, transaction_type, amount)
VALUES
(1, 'credit', 1000.00),
(1, 'debit', 500.00),
(2, 'debit', 1000.00),
(2, 'credit', 200.00),
(3, 'credit', 1500.00),
(3, 'debit', 800.00),
(4, 'debit', 2000.00),
(4, 'credit', 500.00),
(5, 'credit', 700.00),
(5, 'debit', 300.00),
(6, 'debit', 100.00),
(6, 'credit', 400.00),
(7, 'credit', 500.00),
(7, 'debit', 200.00),
(8, 'credit', 100.00),
(8, 'debit', 50.00),
(9, 'credit', 300.00),
(9, 'debit', 100.00),
(10, 'credit', 2000.00),
(10, 'debit', 1000.00);
```

---

#### 6. **Scenarios Demonstrating Transactions**

##### **Scenario 1: Successful Money Transfer**

Alice wants to transfer $500 to Bob.

```sql
START TRANSACTION;

-- Deduct $500 from Alice's account
UPDATE accounts
SET balance = balance - 500
WHERE account_holder = 'Alice';

-- Add $500 to Bob's account
UPDATE accounts
SET balance = balance + 500
WHERE account_holder = 'Bob';

COMMIT;
```

**Explanation**: 
- Both updates occur within the transaction. 
- If any operation fails, the transaction will not commit.

---

##### **Scenario 2: Rollback on Failure**

Alice wants to transfer $8000 to Charlie, but her balance is insufficient.

```sql
START TRANSACTION;

-- Deduct $8000 from Alice's account
UPDATE accounts
SET balance = balance - 8000
WHERE account_holder = 'Alice';

-- Add $8000 to Charlie's account
UPDATE accounts
SET balance = balance + 8000
WHERE account_holder = 'Charlie';

-- Check for sufficient funds
IF (SELECT balance FROM accounts WHERE account_holder = 'Alice') < 0 THEN
    ROLLBACK;
ELSE
    COMMIT;
END IF;
```

**Explanation**: 
- The transaction is rolled back if Aliceâ€™s balance goes negative, ensuring no partial updates.

---

##### **Scenario 3: Ensuring Atomicity**

A batch process credits interest to all accounts.

```sql
START TRANSACTION;

-- Add 5% interest to all accounts
UPDATE accounts
SET balance = balance * 1.05;

COMMIT;
```

**Explanation**: 
- Either all accounts are updated with interest, or none are, ensuring consistency.

---

#### 7. **Advantages of Transactions**

- **Data Integrity**: Prevents partial updates.
- **Error Recovery**: Rollback ensures recovery from failures.
- **Concurrency Control**: Prevents conflicts between concurrent transactions.
- **Complex Operations**: Handles multi-step processes safely.

---

This lesson provides a foundation in MySQL transactions. These concepts and examples can be extended to handle more complex real-world scenarios.